<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HDAConfigDefault</key>
	<array>
		<dict>
			<key>CodecID</key>
			<integer>287143648</integer>
			<key>ConfigData</key>
			<data>
			AKccIACnHRAApx6hAKcfBAC3HB8Atx0QALceIQC3HwQAxxzwAMcd
			AADHHvAAxx9AANccEADXHQEA1x4XANcfkgDnHPAA5x0AAOce8ADn
			H0AA9xzwAPcdAAD3HvAA9x9AAQcc8AEHHQABBx7wAQcfQAEXHDAB
			Fx0BARceowEXH9UB9xzwAfcdAAH3HvAB9x9AAgcc8AIHHQACBx7w
			AgcfQA==
			</data>
			<key>FuncGroup</key>
			<integer>1</integer>
			<key>LayoutID</key>
			<integer>12</integer>
		</dict>
	</array>
</dict>
</plist>
