.DS_Store
stash/*
tools/*
AppleHDA_IDT76e0_Envy.kext
_hdainject_marker.txt
_downloads/*
build/*
!build/readme.txt
Resources_IDT76e0_Envy/layout/*.zlib
Patches.xcodeproj/project.xcworkspace/xcuserdata
Patches.xcodeproj/project.xcworkspace/xcshareddata/envy15.xccheckout
Patches.xcodeproj/project.xcworkspace/xcshareddata/
Patches.xcodeproj/xcuserdata
native_linux/*
!native_linux/readme.txt
native_patchmatic/*
!native_patchmatic/readme.txt
