.DS_Store
stash/*
downloads/*
patched/ssdt*.dsl
patched/dsdt.dsl
unpatched/ssdt*.dsl
unpatched/dsdt.dsl
patched/dsdt.dsl
build/*
!build/readme.txt
Resources_IDT76e0_Envy/layout/*.zlib
envy15.xcodeproj/project.xcworkspace/xcuserdata
envy15.xcodeproj/project.xcworkspace/xcshareddata/envy15.xccheckout
envy15.xcodeproj/xcuserdata
native_linux/*
!native_linux/readme.txt
native_patchmatic/*
!native_patchmatic/readme.txt
